<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <title>Relative URL Templates App</title>
</head>

<body>
        <h1>Welcome to Relative URL Templates App</h1>
        <a href="{% url 'first_app:other' %}">Go to others</a>
        <a href="{% url 'admin:index' %}">Admin page</a>
        <a href="{% url 'index' %}">Back to Index page</a>
</body>

</html>